.section {
  display: flex;
  justify-content: space-between;

  &-container {
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;

    @include respond(tab-port) {
      flex-direction: column;
    }


    & > * {
      flex: 1 100%;
      padding: 0 5rem;
    }

    

    &__img-box {
      width: 100%;
    }
  }
}
