:root {
  --btn-blue: #008ff7;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

button {
  cursor: pointer;
  font-family: "Poppins", sans-serif;
}

p {
  line-height: 1.65;
  font-size: 18px;
  color: #222222;
}

.navbar-wrapper {
  box-shadow: 0px 0px 5px 0px black;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 2;
}

nav {
  display: flex;
  align-items: center;
  width: 80%;
  height: 10vh;
  margin: auto;
}

.logo-container,
.menu {
  display: flex;
}

.logo-container {
  text-decoration: none;
  margin-right: ;
}

.logo {
  font-weight: 400;
  font-size: 32px;
  line-height: 25px;
  margin: 5px;
}

.menu {
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 10vh;
}

.nav-link {
  color: #5f5f79;
  font-size: 18px;
  text-decoration: none;
}

.contact {
  border-radius: 100px;
  height: 40p:root {
  --btn-blue: #008ff7;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

button {
  cursor: pointer;
  font-family: "Poppins", sans-serif;
}

p {
  line-height: 1.65;
  font-size: 18px;
  color: #222222;
}

.navbar-wrapper {
  box-shadow: 0px 0px 5px 0px black;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 2;
}

nav {
  display: flex;
  align-items: center;
  width: 80%;
  height: 10vh;
  margin: auto;
}

.logo-container,
.menu {
  display: flex;
}

.logo-container {
  text-decoration: none;
  margin-right: ;
}

.logo {
  font-weight: 400;
  font-size: 32px;
  line-height: 25px;
  margin: 5px;
}

.menu {
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 10vh;
}

.nav-link {
  color: #5f5f79;
  font-size: 18px;
  text-decoration: none;
}

.contact {
  border-radius: 100px;
  height: 40px;
  width: 100px;
  font-size: 16px;
  margin-top: -5px;
  background-color: var(--btn-blue);
  border: none;
  color: white;
}

#burger {
  display: none;
}

.top {
  background-image: linear-gradient(rgba(4, 2, 25, 0.4), rgba(18, 15, 36, 0.4)),
    url("assets/saul-mercado-LFuFLGo_3ME-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 800px;
  /* margin: 0 40px 0 40px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%); */
}

.top h1 {
  margin-top: 375px;
  color: whitesmoke;
  font-weight: 400;
  font-size: 75px;
  max-width: 1200px;
}

#title-line {
  width: 300px;
  border: thin solid var(--btn-blue);
  border-radius: 20px;
  margin: 5px auto 30px auto;
  border-color: #0580c6;
}

.contact-us {
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  border-radius: 10px;
  height: 60px;
  width: 140px;
  color: white;
  background-color: var(--btn-blue);
  border: none;
  /* margin-top: 45px; */
  font-size: 18px;
}

.wrapper {
  width: 72.5%;
  margin: auto;
  padding-top: 110px;
  padding-bottom: 110px;
  display: flex;
  justify-content: center;
}

h4 {
  font-size: 50px;
  margin-bottom: 30px;
  max-width: 300px;
  color: #222222;
}

.info-box,
.wrapped-image {
  margin: auto 50px;
  flex: 1;
  /* max-width: 600px; */
}

.info-box {
  line-height: 1.65;
  font-size: 18px;
  color: #222222;
}

.wrapped-image {
  width: 450px;
  border-radius: 12.5px;
  box-shadow: 15px 15px 0px 1px rgba(0, 0, 0, 0.14);
}

.grey {
  background-color: #f8f9fa;
  /* background: linear-gradient(#bdc3c7, #2c3e50); */
}

.gradient {
  /* background: linear-gradient(#bdc3c7, #2c3e50); */
  background-color: var(--btn-blue);
}

.teachers {
  color: #fff;
}

.pricing h4 {
  text-align: center;
  margin-bottom: 45px;
}

#class-h4 {
  max-width: fit-content;
  margin: auto;
  margin-bottom: 50px;
}

.styled-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 20px;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
}

.styled-table thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
}

.styled-table th,
.styled-table td {
  padding: 12px 50px;
}

.corner-left {
  border-top-left-radius: 25px;
}

.corner-right {
  border-top-right-radius: 25px;
}

.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

.testim {
  width: 100%;
  margin-bottom: 150px;
}

.testim h4 {
  margin: auto auto 70px auto;
  color: #fff;
  -webkit-text-fill-color: #fff;
}

.swiper-container {
  width: 100%;
  height: 100%;
  padding-bottom: 100px;
  /* z-index: -1; */
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  width: 150px;
  min-height: 250px;
  border-radius: 25px;
  box-shadow: 15px 15px 0px 1px rgba(0, 0, 0, 0.14);

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.card {
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding: 60px 40px;
  text-align: center;
}

.swiper-pagination-bullet-active {
  background: white;
}

.small-logo {
  height: 20px;
}

#contact-section {
  background: #f6f6f6;
}

.no-decoration {
  text-decoration: none;
}

@media only screen and (max-width: 991px) {
  .body {
    width: 100vw;
  }

  .wrapper {
    flex-direction: column;
  }

  .first {
    margin-bottom: 50px;
  }

  .navbar-wrapper {
    position: -webkit-sticky;
    position: sticky;
  }

  nav {
    width: 100%;
    display: block;
  }

  .menu {
    background-color: white;
    padding: 0 10px;
    /* overflow: hidden; */
    display: block;
    box-shadow: 0px 0px 5px 0px black;
  }

  .menu a {
    padding-top: 10px;
    display: block;
    cursor: pointer;
    text-decoration: none;
    color: black;
  }

  .menu a.logo-container {
    display: flex;
  }

  .menu a:hover {
    color: #0580c6;
    font-size: 14.95px;
  }

  .menu a:not(:first-child) {
    display: none;
  }

  .menu a.icon {
    float: right;
  }

  #burger {
    display: block;
  }

  .menu .icon i {
    background-color: #0580c6;
    background-size: 200%;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 3px;
    color: white;
    margin-right: 10px;
    font-size: 18px;
    position: absolute;
    right: 0;
    top: 10px;
  }

  .menu.responsive {
    position: relative;
  }
  .menu.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .menu.responsive a:not(:last-child):not(:first-child) {
    float: none;
    display: inline-block;
    width: 100%;
    background-color: #f9f9f9;
    padding: 0 20px;
    margin-top: 0;
    line-height: 3;
    border: 0;
    border-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #eaeaea;
    font-weight: 300;
    font-size: 16px;
  }

  .menu.responsive a button {
    background-color: transparent;
    border: none;
    font-size: 16px;
    cursor: pointer;
    color: #000000;
    margin-left: -17px;
  }

  .menu.responsive a button:hover {
    color: #0580c6;
  }

  #contact-button-link button {
    background-color: transparent;
  }

  #contact-button-link button:hover {
    color: #0580c6;
  }
}

/* MOBILE */
@media (max-width: 480px) {
  p {
    font-size: 16px;
  }

  .menu a:not(:first-child) {
    font-size: 16px;
  }

  .wrapper {
    width: 100%;
  }

  .top h1 {
    margin-top: 5vh;
    color: whitesmoke;
    font-weight: 400;
    font-size: 60px;
    max-width: 100vh;
  }
  .info-box {
    margin: auto 12%;
  }
  .wrapped-image {
    width: 80%;
    margin-top: 20px;
  }

  .prices-table {
    width: 90%;
    margin: auto;
  }

  .styled-table {
    min-width: unset;
    font-size: 18px;
    margin: auto;
    border-top-left-radius: 20px;
  }

  .styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
    border-top-left-radius: 25px;
  }

  .styled-table th,
  .styled-table td {
    padding: 5px;
  }

  .testim {
    /* width: 95%; */
    margin: auto;
  }

  .card {
    position: relative;
    width: 95%;
    margin: 0 auto;
    padding: 10px 5px;
    text-align: center;
  }

  .contact-section h4 {
    margin: auto;
  }
}

@media only screen and (max-width: 405px) {
  #logo {
    display: none;
  }
}
