.card-container {
  display: flex;
  justify-content: space-between;
  width: 65%;
  margin: auto;
  max-width: 1300px;

  @include respond(desktop) {
    width: 80%;
  }
  @include respond(tab-land) {
    width: 95%;
  }

  @include respond(tab-port) {
    flex-direction: column;
    width: 45vw;
    min-width: 350px;
  }

  @include respond(phone) {
    min-width: 0;
    width: 65vw;
  }

  & > * {
    flex: 1 100%;
  }

  & > *:not(:last-child) {
    margin-right: 4rem;

    @include respond(tab-port) {
      margin-right: 0;
    }
  }
}

.card {
  box-shadow: 0 1.5rem 4rem rgba($color-black, 0.15);
  position: relative;
  transition: transform 0.3s;
  border-radius: 3px;

  @include respond(tab-land) {
  }

  @include respond(tab-port) {
    &:not(:last-child) {
      margin-bottom: 5rem;
    }
  }

  &-top {
    height: 16rem;
    border-radius: 3px 3px 0 0;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);

    &--1 {
      background-image: linear-gradient(
          to right bottom,
          rgba($color-primary-light, 0.6),
          rgba($color-primary-dark, 0.8)
        ),
        url(../img/guatape-2x.jpg);
      background-size: cover;
    }

    &--2 {
      background-image: linear-gradient(
          to right bottom,
          rgba($color-primary-light, 0.6),
          rgba($color-primary-dark, 0.8)
        ),
        url(../img/mountains-2-2x.jpg);
      background-size: cover;
      background-position: center;
    }

    &--3 {
      background-image: linear-gradient(
          to right bottom,
          rgba($color-primary-light, 0.5),
          rgba($color-primary-dark, 0.8)
        ),
        url(../img/fishermen-2x.jpg);
      background-size: cover;
      background-position: center;
    }

    @include respond(phone) {
      &--1 {
        background-image: linear-gradient(
            to right bottom,
            rgba($color-primary-light, 0.6),
            rgba($color-primary-dark, 0.8)
          ),
          url(../img/guatape-1x.jpg);
        background-size: cover;
      }
    }
  }

  &__heading {
    font-size: 2.8rem;
    font-weight: 300;
    text-transform: uppercase;
    text-align: right;
    color: $color-white;
    position: absolute;
    top: 7rem;
    right: 2rem;
    width: 75%;
  }

  &__heading-span {
    padding: 1rem 1.5rem;
    // to make 2 lines be tretaed as individual blocks
    box-decoration-break: clone;
    background-image: linear-gradient(
      to right bottom,
      rgba($color-primary-light, 0.85),
      rgba($color-primary-dark, 0.85)
    );
    position: relative;
  }

  &-middle {
    height: 23rem;
    padding: 4.5rem 1rem;
    text-align: center;

    @include respond(phone) {
      height: initial;
    }

    &__price-only {
      font-size: clamp(14px, 1.6rem, 100px);
      text-transform: uppercase;
    }

    &__price-value {
      margin-top: 2rem;
      // margin-bottom: 1rem;
      font-size: 4rem;

      @include respond(phone) {
        font-size: 3rem;
      }
    }

    &__price-price-modifier {
      font-size: clamp(14px, 1.4rem, 100px);
    }
  }

  &-bottom {
    padding: 6rem 0;
    clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
    text-align: center;
    border-radius: 0 0 3px 3px;

    &--1 {
      background-image: linear-gradient(
        to right bottom,
        $color-primary-light,
        $color-primary-dark
      );
      // background-blend-mode: saturation; ?????????????
    }

    &--2 {
      background-image: linear-gradient(
        to right bottom,
        $color-primary-light,
        $color-primary-dark
      );
    }

    &--3 {
      background-image: linear-gradient(
        to right bottom,
        $color-primary-light,
        $color-primary-dark
      );
    }

    &__test {
      color: $color-white;
      font-size: 2rem;
      margin-bottom: 2rem;
    }
  }
  &:hover {
    transform: translateY(-1.5rem) scale(1.03);
  }
}
